.options{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin: 5% auto 0%;
    button{
        font-size: 30px;
        border: 0px transparent none;
        padding: 20px;
        border-radius: 10px;
    }
}